.carousel_caption {
  top: 40%;
  bottom: initial;
  z-index: 10;
  position: absolute;
  padding-left: 8%;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: white;
}

.carousel_caption2 {
  display: flex;
  top: 50%;
  bottom: initial;
  z-index: 10;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  justify-content: center;
  text-align: center;
  max-width: 50rem;
}

.carousel_button {
  top: 65%;
  bottom: initial;
  z-index: 10;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 7%;
}

.section3_background {
  background: linear-gradient(
    to right,
    #ea5507 -1%,
    #feccb1 0%,
    #e8743a 0%,
    #f17432 47%,
    #f7ba5d 100%
  );
  width: 80%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
}
.section3_title {
  color: #2c4867;
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-top: 10px;
}
.section3_secondary_text {
  color: #2c566e;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.section3_button {
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.section4_box {
  width: 80%;
  margin: auto;
  margin-top: 30px !important;
  padding: 30px;
}
